.badge {
    width: 44px;
    height: 44px;
    border-radius: 50%;
 
    
}

    .badge--selected {
        background-color: green;
        color: white;
        border-radius: 50%;
    }


    .badge--notification {
        width: 23px;
        height: 23px;
        background-color:red;
        border: 1px solid white;
        color: white;
        border-radius: 50%;
    }


    .badge--medium {
        width: 16px;
        height: 16px;
        font-size: 11px; 
        border-radius: 50%;
    }


    .badge--small {
        width: 14px;
        height: 14px;
        font-size: 11px; border-radius: 50%;
    }


    .badge--x-small {
        width: 8px;
        height: 8px; border-radius: 50%;
    }


