.badge {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

    .badge--selected {
        background-color: green;
        color: white;
    }


    .badge--notification {
        width: 23px;
        height: 23px;
        background-color:red;
        border: 1px solid white;
        color: white;
    }


    .badge--medium {
        width: 16px;
        height: 16px;
        font-size: 11px; 
    }


    .badge--small {
        width: 14px;
        height: 14px;
        font-size: 11px;
    }


    .badge--x-small {
        width: 8px;
        height: 8px;
    }


